body {
  height: calc(100vh - 50px);
  margin: 25px 0;
  overflow: hidden;
  background: linear-gradient(to right, #9cecfb, #65c7f7, #0052d4);
}

main {
  width: 50%;
  height: 100%;
  margin: 0 auto;
  overflow: auto;
}
main .block {
  min-height: 100px;
  padding: 15px;
  margin: 10px;
  margin-top: 0;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.4);
}
main .block.h-0 {
  min-height: 0px;
}
main .block.h-100 {
  min-height: 100px;
}
main .block.h-200 {
  min-height: 200px;
}
main .block.h-300 {
  min-height: 300px;
}
main .block.h-400 {
  min-height: 400px;
}
main .block.h-500 {
  min-height: 500px;
}
main .block:last-child {
  margin-bottom: 0;
}

/* scrollbar width */
::-webkit-scrollbar {
  width: 15px;
}

/* scrollbar Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

/* scrollbar Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

/* scrollbar Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 800px) {
  main {
    width: 80% !important;
  }
}
